<a href="https://colab.research.google.com/github/AlexTovar31/Challenge_Telecom_2/blob/main/TelecomX_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
telecomX2 = pd.read_csv('/content/telecomX2.csv')
telecomX2.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total,Charges_Daily
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.186667
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,1.996667
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.796667

In [4]:
telecomX2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             7256 non-null   object
 1   gender            7256 non-null   object
 2   SeniorCitizen     7256 non-null   int64
 3   Partner           7256 non-null   object
 4   Dependents        7256 non-null   object
 5   tenure            7256 non-null   int64
 6   PhoneService      7256 non-null   object
 7   MultipleLines     7256 non-null   object
 8   InternetService   7256 non-null   object
 9   OnlineSecurity    7256 non-null   object
 10  OnlineBackup      7256 non-null   object
 11  DeviceProtection  7256 non-null   object
 12  TechSupport       7256 non-null   object
 13  StreamingTV       7256 non-null   object
 14  StreamingMovies   7256 non-null   object
 15  Contract          7256 non-null   object
 16  PaperlessBilling  7256 non-null   object
 17  PaymentMethod     7256 non-null   object
 18  Charges_Monthly   7256 non-null   float64
 19  Charges_Total     7256 non-null   float64
 20  Charges_Daily     7256 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.2+ MB

In [5]:
column_categotricas = telecomX2.select_dtypes(include='object').columns
print(column_categotricas)

Index(['Churn', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'PaymentMethod'],
      dtype='object')

In [6]:
telecomX2 = pd.get_dummies(telecomX2, drop_first=True)

In [7]:
telecomX2

,SeniorCitizen,tenure,Charges_Monthly,Charges_Total,Charges_Daily,Churn_Yes,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,9,65.60,593.30,2.186667,False,False,True,True,True,...,False,True,False,False,True,False,True,False,False,True
1,0,9,59.90,542.40,1.996667,False,True,False,False,True,...,False,False,False,True,False,False,False,False,False,True
2,0,4,73.90,280.85,2.463333,True,True,False,False,True,...,False,False,False,False,False,False,True,False,True,False
3,1,13,98.00,1237.85,3.266667,True,True,True,False,True,...,False,True,False,True,False,False,True,False,True,False
4,1,3,83.90,267.40,2.796667,True,False,True,False,True,...,False,True,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7251,0,13,55.15,742.90,1.838333,False,False,False,False,True,...,False,False,False,False,True,False,False,False,False,True
7252,0,22,85.10,1873.70,2.836667,True,True,True,False,True,...,False,False,False,True,False,False,True,False,True,False
7253,0,2,50.30,92.75,1.676667,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,True
7254,0,67,67.85,4627.65,2.261667,False,True,True,True,True,...,False,False,False,True,False,True,False,False,False,True
7255,0,63,59.00,3707.60,1.966667,False,True,True,True,False,...,False,True,False,True,False,True,False,False,True,False

In [8]:
telecomX2['Churn_Yes'].value_counts(normalize=True)

Churn_Yes
False    0.74242
True     0.25758
Name: proportion, dtype: float64